:root {
  --color-bg: #0f172a;
  --color-bg-light: #1e293b;
  --color-text: #e5e7eb;
  --color-accent: #38bdf8;
  --color-bg-light-theme: #f8fafc;
  --color-text-light-theme: #0f172a;
  --header-height: 56px;
  --sidebar-width: 399px;
}
